p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.temptitle {
  background-color:rgba(255, 99, 71, 0.5);
}

.temptitle2 {
  background-color: lightblue;
}