p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.temptitle2 {
  background-color: lightblue;
}

blockquote p, blockquote{
text-align: left;
padding: 20px;
background-color: black !important;
color: white !important;
}

blockquote a{
  color: lightblue;
}
